@media (max-width: 500px){
    header{
        width: 100%;
        background-color: var(--main-color);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        z-index:99999;
    }
    header #logo{
        margin:10px;
        width: 75%;
        margin-left:12.5%;
        margin-right:12.5%;
    }
    header #logo img{
        width: 100%;
    }
}