@media (max-width: 500px){
    header{
        width: 100%;
        background-color: var(--main-color);
        display: flex;
        justify-content: stretch;
        z-index:99999;
    }
    header #logo{
        margin:10px;
        width: 100%;
        margin-left:5%;
    }
}