@media (max-width: 500px){
    header nav{
        width: 50px;
    }
    header #menuMovil{
        display: block;
    }
    header #menuWeb{
        display: none;
    }
    #about .col, #contact .col{
        width: 100%;
    }
    #projects #projectlist .project{
        width: 100%;
    }
    #main video{
        display: none;
    }
    #main #overlay{
        background-image: url(../img/fondo.png);
    }
}
@media (max-width: 700px){

}