:root{
    --main-color: #148ac0;
    --text-color: #101314;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(238, 238, 238);
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4{
    font-family: 'Festive', cursive;
}
header{
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    position:fixed;
    z-index:99999;
}
header #logo{
    margin:10px;
    margin-left:10%;
    width: 200px;
    font-family: 'Festive', sans-serif;
}
header nav{
    margin: 10px;
    margin-right: 10%;
    width: 500px;
}
header nav ul li{
    float: left;
    list-style: none;
    margin-left: 30px;
    margin-top: 5px;
    padding: 5px;
    transition: 0.5s ease-in all;
}
header nav ul li a{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}
header nav ul li:hover{
    opacity: 0.8;
    background-color: white;
    color: var(--main-color);
    border-radius: 5px;
}
header nav ul li a:hover{
    color: var(--main-color);
}
section#main{
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
#main video{
    min-width: 100%;
    min-height: 100%;
}
#main #overlay{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.8);
    z-index: 3;
}
#main #overlay h2{
    margin-top: 300px;
    color: white;
    text-align: center;
    font-size: 6rem;
}
#main #overlay h3{
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
}
.btn{
    width:180px;
    height:50px;
    border:none;
    border-radius: 4px;
    padding: 8px;
    font-size: 1rem;
    font-weight: lighter;
}
.btn-primary{
    background-color: var(--main-color);
    text-transform: uppercase;
}
a.btn, button.btn{
    text-decoration: none;
    color: white;
}
#about, #contact, #projects{
    width: 80%;
    padding-left:10%;
    padding-right:10%;
    height: 700px;
}
#about > h2{
    text-align: center;
    font-size: 3rem;
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
}
#about .col, #contact .col{
    float:left;
    width: 50%;
    text-align: justify;
}
#about .col img{
    width: 70%;
    display: block;
    margin: 20px auto;
}
#about .col p{
    margin-top: 50px;
}
#about > .col > h2{
    font-weight: lighter;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
}
#projects > h2{
    font-family: 'Open Sans', sans-serif;
}
#projects #projectlist{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
#projects #projectlist .project{
    width: 25%;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}
#projects #projectlist .project img{
    width:100%;
}
#projects #projectlist .project div{
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
#projects #projectlist .project div #projectname{
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
#projects #projectlist .project div #projectdescription{
    font-size: 0.8rem;
    font-weight: lighter;
}
#projects #projectlist .project button{
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    margin-top:20px;
    margin-bottom: 20px;
    text-transform: none;
    background-color: var(--main-color);
}
#frasechida{
    height: 200px;
    background-image: url(../img/html.png);;
}
#frasechida h2{
    display: block;
    line-height: 200px;
    text-align: center;
    font-size: 3rem;
    margin:auto;
    color:white;
}
#contact{
    margin-top:100px;
}
#contact .col fieldset{
    border: none;
    margin-right: 100px;
}
#contact .col legend{
    display: block;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#contact .col{
    height: 100%;
}
#contact .col label, #contact .col input[type=text], #contact .col textarea{
    display: block;
    width: 100%;
    border: none;
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
#contact .col label{
    font-size: 1rem;
    padding-top: 20px;
}
#contact .col input[type=text]{
    padding: 10px;
}
#contact .col textarea{
    padding: 10px;
}
#contact .col button{
    margin-left:15px;
    margin-top: 20px;
    background-color: var(--main-color);
}
footer{
    padding: auto;
    height: 100px;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
footer p{
    width: 100%;
    height:50%;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}